* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.listContainer {
    width: 60%;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.listContainer {
    position: relative;
    width: 70%;
    height: 98%;
    min-height: 70vh;
    background-color: white;
    padding: 1em 0;
}

.listContainer .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
    background-color: white;
    transition: .6s;
}

.listContainer .closeButton:hover {
    color: black;
}

.listContainer .head {
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 1em;
}

.listContainer .head .info .recipeName {
    font-size: 30px;
    font-weight: 600;
    color: #9EB23B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listContainer .head .info .dishType {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: .1em;
}

.listContainer .head .info .dietLabels {
    letter-spacing: 1px;
}

.listContainer .body {
    background-color: #9EB23B;
    padding: .5em;
}

.listContainer .body .nutrients {
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.listContainer .body .nutrientsValue {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid white;
    padding: .5em;
}


/* FONTS SIZES AND DESIGN */

.listContainer .body .nutrientsValue .left .container .calories {
    font-size: 26px;
    margin-top: 1em;
}

.listContainer .body .nutrientsValue .left .container .caloriesValue {
    font-size: 26px;
    font-weight: 600;
    margin-top: 1em;
}

.listContainer .body .nutrientsValue .middle .container .digest {
    font-size: 20px;
}

.listContainer .body .nutrientsValue .end .container .totalNutrients {
    font-size: 18px;
}

.listContainer .body .nutrientsValue .value {
    font-size: 18px;
    font-weight: 600;
}


/*END FONTS SIZES AND DESIGN */

.listContainer .body .nutrientsValue .left,
.listContainer .body .nutrientsValue .middle,
.listContainer .body .nutrientsValue .end {
    width: 30%;
}

.listContainer .body .nutrientsValue .container {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}


/* FOOTER */

.listContainer .footer {
    background-color: #9EB23B;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.listContainer .footer button {
    padding: 8px 50px;
    cursor: pointer;
    background-color: #F0F4CD;
    border: 2px solid #F0F4CD;
    letter-spacing: 5px;
    font-weight: 500;
    border-radius: 5px;
    transition: .6s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.listContainer .footer button:hover {
    background-color: white;
    border: 2px solid #727945;
    color: #727945;
}

.listContainer .footer span {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #727945;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.listContainer .footer span:hover {
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    .listContainer {
        width: 100%;
        /* edited */
    }
    .listContainer .head {
        flex-direction: column;
        /* edited */
    }
    .listContainer .body .nutrientsValue {
        flex-direction: column;
        /* edited */
        border: 2px solid white;
        padding: .5em;
    }
    .listContainer .body .nutrientsValue .left,
    .listContainer .body .nutrientsValue .middle,
    .listContainer .body .nutrientsValue .end {
        width: 100%;
    }
    .listContainer .body .nutrientsValue .container {
        padding: 0 3em;
        /* edited */
    }
}